#projetos{
    display: flex;
    width: 90%;
    height: 100vh;
    padding: 0 5% 0 5%;
    background-color: var(--cinza1);
    gap: 100px;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    color: #fff;
    font-family: "Roboto Mono", monospace;
}
#projetos h2{
    color: #fff;
    font-family: "Roboto Mono", monospace;
    font-size: 22pt;
    background-color: #000;
    padding: 10px;
    border-radius: 10px;
    border-bottom: 5px solid var(--verde2);
}

.container-projetos{
    display: flex;
    justify-content: center;
    gap: 30px;
}

.projeto{
    width: 300px;
    border-radius: 10px;
    overflow: hidden;
    border-bottom: 5px solid var(--verde2);
}

.projeto a{
    display: flex;
    align-items: center;
    flex-direction: column;
    text-decoration: none;
    background-color: var(--verde2);
    color: #000;
    font-weight: 900;
}

.projeto p{
    padding: 10px;
    
}

.projeto img{
    display: flex;
    width: 100%;
    opacity: .9;
    transition: .2s;
}

.projeto img:hover{
    opacity: 1;
}






@media (max-width: 1000px) {

    #projetos{
        height: auto;
        padding: 200px 0;
        width: 100%;
    }

    .container-projetos{
        flex-wrap: wrap;
    }
}